__pycache__/
*.py[cod]
*$py.class
*.so
.Python

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

.installed.cfg
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.tox/
.nox/
htmlcov/
.coverage
.coverage.*
coverage.xml

.ipynb_checkpoints/
