[General]
gameName=STALKER Anomaly
selected_profile=@ByteArray({{PROFILE_NAME}})
gamePath=@ByteArray({{BASE_PATH}}\\anomaly)
version=2.5.2/
first_start=false

[PluginPersistance]
Python%20Proxy\tryInit=false

[Settings]
profile_local_inis=false
profile_local_saves=false
profile_archive_invalidation=false

[customExecutables]
size=1
1\arguments=
1\binary={{BASE_PATH}}/anomaly/bin/AnomalyDX11AVX.exe
1\hide=false
1\ownicon=true
1\steamAppID=
1\title=Anomaly (DX11-AVX)
1\toolbar=false
1\workingDirectory={{BASE_PATH}}/anomaly/bin
2\arguments="{{BASE_PATH}}\\anomaly"
2\binary={{BASE_PATH}}/mo2/explorer++/Explorer++.exe
2\hide=false
2\ownicon=true
2\steamAppID=
2\title=Explore Virtual Folder
2\toolbar=false
2\workingDirectory={{BASE_PATH}}/mo2/explorer++

[recentDirectories]
size=0
